<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.AssignmentsDao">
    <resultMap id="AssignmentNumMap" type="com.ikun.eduproject.vo.AssignmentNumVO">
        <id property="courseId" column="course_id"/>
        <result property="name" column="name"/>
        <result property="num" column="num_of_assignments"/>
    </resultMap>

    <!--根据课程id查作业-->
    <select id="selectByCourseId" resultType="com.ikun.eduproject.pojo.Assignments">
        select *
        from assignments
        where course_id = #{courseId};
    </select>
    <!--根据作业id查userId-->
    <select id="selectByAssignmentId" resultType="java.lang.Integer">
        select user_id
        from assignments
        where assignment_id = #{assignmentId};
    </select>
    <!--添加作业-->
    <insert id="insertAssignment" parameterType="com.ikun.eduproject.pojo.Assignments">
        insert into assignments(user_id, course_id, assignment_url)
        values (#{userId}, #{courseId}, #{assignmentUrl});
    </insert>
    <!--根据学生id和课程id查询作业-->
    <select id="selectByUidAndCid" resultType="com.ikun.eduproject.pojo.Assignments">
        select *
        from assignments
        where user_id = #{userId}
          and course_id = #{courseId};
    </select>
    <!--更新作业状态-->
    <update id="updateAssignmentStatu">
        update assignments
        set credit=#{credit},statu = 1
        where assignment_id = #{assignmentId};
    </update>
    <!--更新作业-->
    <update id="updateAssignment" parameterType="com.ikun.eduproject.pojo.Assignments">
        update assignments
        set assignment_url=#{assignmentUrl}
        where assignment_id = #{assignmentId};
    </update>
    <!--根据课程id获取未批改作业-->
    <select id="selectByCourseIdNO" resultType="com.ikun.eduproject.vo.AssignmentVO">
        select a.assignment_id, u.username, a.assignment_url, a.course_id, a.time
        from assignments a
                 join user u on a.user_id = u.user_id
        where course_id = #{courseId}
          and a.statu = 0;
    </select>
    <!--根据课程id获取已批改作业-->
    <select id="selectByCourseIdOK" resultType="com.ikun.eduproject.vo.AssignmentVO">
        select a.assignment_id, u.username, a.assignment_url, a.course_id, a.credit, a.time
        from assignments a
                 join user u on a.user_id = u.user_id
        where course_id = #{courseId}
          and a.statu = 1;
    </select>
    <!--根据用户id查看未审批作业数量-->
    <select id="selectNumByUserId" resultMap="AssignmentNumMap">
        SELECT
            c.course_id,
            c.name,
            COUNT(a.assignment_id) AS num_of_assignments
        FROM
            course c
                LEFT JOIN assignments a ON c.course_id = a.course_id
        WHERE
            c.user_id = #{userId}
          and a.statu = 0
        GROUP BY
            c.course_id, c.name;
    </select>
</mapper>
