<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.CourseAuditDao">
    <resultMap id="GetCourseChecked" type="com.ikun.eduproject.vo.GetCourseCheckedVO">
        <id property="courseId" column="course_id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="subName" column="sub_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="contentUrl" column="content_url"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <!--新增课程审核版本-->
    <insert id="insertCourseAudit" parameterType="com.ikun.eduproject.pojo.CourseAudit">
        insert into course_audit (course_id, user_id, name, author, price, description, sub_name, image_url,
                                  content_url)
        values (#{courseId}, #{userId}, #{name}, #{author}, #{price}, #{description}, #{subName}, #{imageUrl},
                #{contentUrl});
    </insert>
    <!--更新课程审核版本信息-->
    <update id="updateCourseAudit" parameterType="com.ikun.eduproject.pojo.Course">
        update course_audit
        set name=#{name},
            author= #{author},
            price=#{price},
            description= #{description},
            image_url=#{imageUrl},
            content_url=#{contentUrl},
            statu=2,
            checked=0
        where course_id = #{courseId};
    </update>
    <!--恢复课程审核版本-->
    <update id="updateFromCourse" parameterType="com.ikun.eduproject.pojo.Course">
        update course_audit
        set name=#{name},
            author= #{author},
            price=#{price},
            description= #{description},
            image_url=#{imageUrl},
            content_url=#{contentUrl},
            statu=#{statu},
            checked=#{checked}
        where course_id = #{courseId};
    </update>
    <!--按照课程id删除-->
    <delete id="deleteCourseAudit">
        delete
        from course_audit
        where course_id = #{courseId};
    </delete>
    <!--按照教师id和课程名查询课程id-->
    <select id="selectByUIdAndName" resultType="int">
        select course_id
        from course_audit
        where user_id = #{userId}
          and name = #{name}
          and statu IN (1, 2);
    </select>
    <!--按照教师id查询待审核课程-->
    <select id="selectByUserIdChecking" resultType="com.ikun.eduproject.pojo.CourseAudit">
        select *
        from course_audit
        where user_id = #{userId}
          and statu = 2
          and checked = 0;
    </select>
    <!--按照教师id查询审核未通过课程-->
    <select id="selectByUserIdCheckNo" resultType="com.ikun.eduproject.pojo.CourseAudit">
        select *
        from course_audit
        where user_id = #{userId}
          and statu = 2
          and checked = 2;
    </select>
    <!--查询所有待审核课程-->
    <select id="selectAllCheck" resultMap="GetCourseChecked">
        select c.course_id,
               u.username,
               c.name,
               c.author,
               c.price,
               c.description,
               c.sub_name,
               c.image_url,
               c.content_url,
               c.update_time
        from user u
                 join course_audit c on u.user_id = c.user_id
        where c.statu = 2
          and c.checked = 0;
    </select>
    <!--按照课程id查询课程-->
    <select id="selectByCoursrId" resultType="com.ikun.eduproject.pojo.Course">
        select *
        from course_audit
        where course_id = #{courseId};
    </select>
    <!--更新审核-->
    <update id="updateCheck">
        update course_audit
        set checked=#{checked},
            statu  = CASE
                         WHEN #{checked} = 1 THEN 1
                         ELSE statu
                END
        where course_id =
              #{courseId};
    </update>
    <!--更新课程状态-->
    <update id="updateStatu" parameterType="integer">
        update course_audit
        set statu=0
        where course_id = #{courseId};
    </update>


</mapper>