<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.CourseDao">

    <insert id="insertCourse" parameterType="com.ikun.eduproject.pojo.Course">
        insert into course(user_id, name, auther, price, description)
        values (#{userId}, #{name}, #{auther}, #{price}, #{description})
    </insert>

    <select id="selectByUserId" parameterType="int" resultType="com.ikun.eduproject.pojo.Course">
        select *
        from course
        where user_id = #{userId}
          and statu = 1;
    </select>

    <select id="selectByUIdAndName" parameterType="com.ikun.eduproject.pojo.Course" resultType="int">
        select course_id
        from course
        where user_id = #{userId}
          and name = #{name}
          and statu = 1;
    </select>

    <update id="updateCourse" parameterType="com.ikun.eduproject.pojo.Course">
        update course
        set name=#{name},
            author= #{author},
            price=#{price},
            description= #{description},
            checked=0
        where course_id = #{courseId}
    </update>

    <update id="updateStatu" parameterType="com.ikun.eduproject.pojo.Course">
        update course
        set statu=0
        where user_id = #{userId}
          and name = #{name}
    </update>
</mapper>