<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.CourseDao">

    <!--添加课程-->
    <insert id="insertCourse" parameterType="com.ikun.eduproject.pojo.Course">
        insert into course(user_id, name, author, price, description, sub_name, image_url, content_url)
        values (#{userId}, #{name}, #{author}, #{price}, #{description}, #{subName}, #{imageUrl}, #{contentUrl});
    </insert>
    <!--按照教师id和课程名查询课程id-->
    <select id="selectByUIdAndName"  resultType="int">
        select course_id
        from course
        where user_id = #{userId}
          and name = #{name}
          and statu IN (1, 2);
    </select>
    <!--按照教师id查询已上架课程-->
    <select id="selectByUserId" parameterType="integer" resultType="com.ikun.eduproject.pojo.Course">
        select *
        from course
        where user_id = #{userId}
          and statu = 1
          and checked = 1;
    </select>

    <!--教师查看已下架课程-->
    <select id="selectByUserId2" parameterType="integer" resultType="com.ikun.eduproject.pojo.Course">
        select *
        from course
        where user_id = #{userId}
          and statu = 0;
    </select>

    <!--更新课程信息-->
    <update id="updateCourse" parameterType="com.ikun.eduproject.pojo.Course">
        update course
        set name=#{name},
            author= #{author},
            price=#{price},
            description= #{description},
            sub_name=#{subName},
            image_url=#{imageUrl},
            content_url=#{contentUrl},
            statu=#{statu},
            checked=#{checked}
        where course_id =
        #{courseId};
    </update>
    <!--更新课程状态-->
    <update id="updateStatu" parameterType="integer">
        update course
        set statu=0
        where course_id = #{courseId};
    </update>
    <!--删除课程-->
    <delete id="deleteCourse">
        delete
        from course
        where course_id = #{courseId};
    </delete>
    <!--按照课程id查询-->
    <select id="selectByCourseId" parameterType="integer" resultType="com.ikun.eduproject.pojo.Course">
        select course_id,user_id,author,name,price,statu,checked,sub_name,image_url,content_url
        from course
        where course_id = #{courseId};
    </select>
    <!--按照学科类别查询-->
    <select id="selectByCategory" parameterType="string" resultType="com.ikun.eduproject.pojo.Course">
        select course.*
        from course
                 inner join subject on course.sub_name = subject.sub_name
        where subject.sub_category = #{category}
          and course.statu = 1;
    </select>
    <!--按照学科名查询-->
    <select id="selectBySubName" parameterType="string" resultType="com.ikun.eduproject.pojo.Course">
        select course.*
        from course
                 inner join subject on course.sub_name = subject.sub_name
        where subject.sub_name = #{subName}
          and course.statu = 1;
    </select>
    <!--根据课程id查看价格-->
    <select id="selectPriceByCourseId" resultType="java.math.BigDecimal">
        select price
        from course
        where course_id = #{courseId};
    </select>
    <!--根据课程id查询用户邮箱-->
    <select id="selectEmailByCourseId" resultType="string">
        SELECT u.email
        FROM user u
                 JOIN course c ON u.user_id = c.user_id
        WHERE c.course_id = #{courseId};
    </select>

</mapper>
