<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.StuCoursesDao">

    <!--添加学生课程信息-->
    <insert id="insertStuCourse" parameterType="com.ikun.eduproject.pojo.StudentCourse">
        insert into user (user_id, course_id)
        values (#{userId}, #{courseId});
    </insert>
    <!--根据用户id和课程id查询-->
    <select id="selectByUidAndCid" resultType="java.lang.Integer">
        select stu_course_id
        from student_courses
        where user_id = #{userId}
          and course_id = #{courseId};
    </select>
    <!--按照用户id查询车购买的课程-->
    <select id="selectByUid" resultType="com.ikun.eduproject.pojo.Course">
        select c.*
        from course c
                 join student_courses s on c.course_id = s.course_id
        where course_id = #{courseId};
    </select>

</mapper>