<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.eduproject.dao.UserDao">

    <select id="selectByUsername" parameterType="string" resultType="com.ikun.eduproject.pojo.User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.ikun.eduproject.pojo.User">
        insert into user (username, password, role, phone, email)
        values (#{username}, #{password}, #{role}, #{phone}, #{email})
    </insert>

    <update id="updateByUsername" parameterType="com.ikun.eduproject.pojo.User">
        update user
        set phone=#{phone},
            email=#{email}
        where username = #{username}
    </update>

    <update id="updatePassword" parameterType="com.ikun.eduproject.pojo.User">
        update user
        set password=#{password}
    </update>

    <select id="selectStudent" resultType="com.ikun.eduproject.pojo.User">
        select username, phone, email, statu
        from user
        where role = 2;
    </select>
    <select id="selectTeacher" resultType="com.ikun.eduproject.pojo.User">
        select username, phone, email, statu
        from user
        where role = 1;
    </select>
</mapper>
